{% extends "base.html" %}

{% block title %}
    Criar    
{% endblock %}

{% block content %}
    <div style="display: flex; align-items: start; gap: 20px; justify-content: start;">
        <a href="#" onclick="voltar()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left h-4 w-4 mr-2" data-component-content="%7B%22className%22%3A%22h-4%20w-4%20mr-2%22%7D"><path d="m12 19-7-7 7-7"></path><path d="M19 12H5"></path></svg>
            Voltar
        </a>
        <h3 class="title">Crie um novo CheckList</h3>
    </div>
    <div class="row main-section">
        <div class="col section">
            <h4>Informações gerais</h4>

            <div class="section-informacoes">
                <div>
                    <div class="label">Nome do CheckList</div>
                    <input id="nome" type="text" class="checklist-input informacoes" placeholder="Ex: Documentação Youtue">
                </div>
                <div>
                    <div class="label">Descrição</div>
                    <textarea id="descricao" class="checklist-input" placeholder="Descreva o objetivo dessa checklist..."></textarea>
                </div>
                <div>
                    <div class="label">Categoria</div>
                    <input id="categoria" type="text" class="checklist-input informacoes" placeholder="Especifique uma categoria para esse checklist">
                </div>
            </div>
            <hr>
            
        </div>
        <div class="col-8">
            <div class="section">
                <h4>Itens do Checklist</h4>
                <form action="criar" method="POST">
                    <div class="checklist-itens">

                        <div id="checklist-header" class="checklist-header row">
                            <div class="col-10 checklist-item">Pergunta</div>
                            <div class="col checklist-item">Ação</div>
                        </div>

                        <div class="checklist-adicionar row">
                            <div class="col-10 checklist-item">
                                <input id="checklist-input-save" class="checklist-input" placeholder="Escreva aqui a pergunta"/>
                            </div>
                            <div class="col checklist-item">
                                <svg class="salvar" onclick="salvarPergunta()" xmlns="http://www.w3.org/2000/svg" 
                                    width="24" 
                                    height="24" 
                                    viewBox="0 0 24 24" 
                                    fill="none" 
                                    stroke="blue" 
                                    stroke-width="2" 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round">
                                    <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                                    <polyline points="17 21 17 13 7 13 7 21"></polyline>
                                    <polyline points="7 3 7 8 15 8"></polyline>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="envio">
                        <button type="button" onclick="voltar()" class="btn btn-cancelar">
                            Cancelar
                        </button> 
                        <button type="submit" class="btn btn-primary">
                            Salvar o checklist
                        </button>
                    </div>
                </form>
            </div>
            <div class="niveis section">
                <div class="checklist-header">
                    <div class="col-10 checklist-item">Nível</div>
                    <div class="col checklist-item">Tempo de resolução</div>
                </div>
            </div>
        </div> 
    </div>
    
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='checklist.js') }}"></script> 
{% endblock %}