{% extends "base.html" %}

{% block title %}QA - CheckLists{% endblock %}

{% block content %}
<div class="container">
    <h1 class="">Seja bem vindo</h1>
    {% if dados != None %}
        <div>
        {% for i in range(dados|length) %}
            {% if i % 2 == 0 %}
                </div>
                <div class="row display">
            {% endif %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{dados[i]['nome']}}</h5>
                            <p class="card-text">{{dados[i]['descricao']}}.</p>
                            <div class="row" style="justify-content: space-between; padding: 0 15px;">
                                <figcaption class="blockquote-footer">
                                    {{dados[i]['categoria']}}
                                </figcaption>
                                <div class="">
                                    <button onclick="window.location.href = '/verificar?id{{ dados[i].id }}'" class="btn btn-success">Verificar</button>
                                    <button onclick="window.location.href = '/editar?id={{ dados[i].id }}'" class="btn btn-primary editar">Editar</button>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    {% endif %}
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
            <figcaption class="blockquote-footer">
                Crie um novo checklist
            </figcaption>
            <a href="/criar" class="btn btn-primary">+</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}